.owner_box input {
    width: 70%;
    height: 5vh;
 }
 
.owner_box--block {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.password--block {
    position: relative;
}

.owner_box--block .set {
    flex: 2;
}

.owner_box--block .display {
    flex: 1;
    text-align: center;
}
.owner_box--block .set i {
    position: absolute;
    right: 32%;
    top: 1.5vh;
    cursor: pointer;
    color: #333;
}
.owner_box--block .set i.active::before {
    content: "\f070" !important;
    color: #333;
}
.owner_box--block .display > p:nth-child(3),
.owner_box--block .display > p:nth-child(5) {
    background-color: var(--main-color);
    color: #000;
}

@media only screen and (max-width: 510px) {
    .owner_box--block .display {
        padding-top: 15px;
    }
    .owner_box--block {
        flex-direction: column;
    }
}
@media only screen and (min-width: 800px) {
    body {
       display: block;
    }
 }