.detail-data {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
    height: 100%;
    width: 100%;
}
/* Heart */
.heart {
    position: absolute;
}
.heart g {
    fill: #ff018c;
}
.heart:nth-child(1) {
    animation: heartOne 5s cubic-bezier(0.47, 0.17, 0.53, 0.81) infinite forwards;
}
.heart:nth-child(2) {
    animation: heartTwo 6s cubic-bezier(0.47, 0.17, 0.53, 0.81) infinite forwards;
}
.heart:nth-child(3) {
    animation: heartThree 7s cubic-bezier(0.47, 0.17, 0.53, 0.81) infinite forwards;
}
.heart:nth-child(4) {
    animation: heartFour 8s cubic-bezier(0.47, 0.17, 0.53, 0.81) infinite forwards;
}
@keyframes heartOne {
    0% {
        bottom: -100px;
        left: 0px;
    }
    50% {
        bottom: 50%;
        left: 200px;
        opacity: .8;
    }
    100% {
        bottom: 100%;
        left: 100px;
        opacity: .5;
    }
}
@keyframes heartTwo {
    0% {
        bottom: -100px;
        left: 100px;
    }
    50% {
        bottom: 30%;
        left: 10px;
    }
    100% {
        bottom: 100%;
        left: 100px;
    }
}
@keyframes heartThree {
    0% {
        bottom: -100px;
        left: 200px;
    }
    50% {
        bottom: 40%;
        left: 200px;
        opacity: .8;
    }
    100% {
        bottom: 100%;
        left: 100px;
        opacity: .5;
    }
}
@keyframes heartFour {
    0% {
        bottom: -100px;
        left: 150px;
    }
    50% {
        bottom: 70%;
        left: 200px;
    }
    100% {
        bottom: 100%;
        left: 100px;
    }
}
/* Star */
.star {
    position: absolute;
}
.star:nth-child(1) {
    animation: starOne 5s cubic-bezier(0.47, 0.17, 0.53, 0.81) infinite forwards;
}
.star:nth-child(2) {
    animation: starTwo 6s cubic-bezier(0.47, 0.17, 0.53, 0.81) infinite forwards;
}
.star:nth-child(3) {
    animation: starThree 7s cubic-bezier(0.47, 0.17, 0.53, 0.81) infinite forwards;
}
.star:nth-child(4) {
    animation: starFour 8s cubic-bezier(0.47, 0.17, 0.53, 0.81) infinite forwards;
}
@keyframes starOne {
    0% {
        bottom: -100px;
        left: 0px;
    }
    50% {
        bottom: 50%;
        left: 200px;
        opacity: .8;
    }
    100% {
        bottom: 100%;
        left: 100px;
        opacity: .5;
    }
}
@keyframes starTwo {
    0% {
        bottom: -100px;
        left: 100px;
    }
    50% {
        bottom: 30%;
        left: 10px;
    }
    100% {
        bottom: 100%;
        left: 100px;
    }
}
@keyframes starThree {
    0% {
        bottom: -100px;
        left: 200px;
    }
    50% {
        bottom: 40%;
        left: 200px;
        opacity: .8;
    }
    100% {
        bottom: 100%;
        left: 100px;
        opacity: .5;
    }
}
@keyframes starFour {
    0% {
        bottom: -100px;
        left: 150px;
    }
    50% {
        bottom: 70%;
        left: 200px;
    }
    100% {
        bottom: 100%;
        left: 100px;
    }
}

/* Shooting stars */
.shooting-star {
    width: 100%;
    height: 100%;
}
.shooting-star span {
    position: absolute;
    width: 3%;
    height: 0;
    padding-top: 3%;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255,255,0.1), 0 0 0 8px rgba(255,255,255,0.1), 0 0 20px rgba(255,255,255, 1);
    animation: shooting 3s linear infinite;
    
}
.shooting-star span::before {
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    width: 300px;
    background: linear-gradient(90deg, #fff, transparent);
    /* transform: translateY(); */
}
@keyframes shooting {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: rotate(315deg) translateX(-100vw);
        opacity: 0;
    }
}
.shooting-star span:nth-child(1) {
    top: 0;
    right: 0;
    animation-delay: 0s;
    animation-duration: 1s;
}
.shooting-star span:nth-child(2) {
    top: 0;
    right: 0;
    animation-delay: -.2s;
    animation-duration: 3s;
}
.shooting-star span:nth-child(3) {
    top: 80px;
    right: 0;
    animation-delay: .4s;
    animation-duration: 2s;
}
.shooting-star span:nth-child(4) {
    top: 0;
    right: 180px;
    animation-delay: .6s;
    animation-duration: 1.5s;
}
.shooting-star span:nth-child(5) {
    top: 400px;
    right: 180px;
    animation-delay: .6s;
    animation-duration: 1.5s;
}
.shooting-star span:nth-child(6) {
    top: 700px;
    right: 120px;
    animation-delay: .2s;
    animation-duration: 4s;
}
.shooting-star span:nth-child(7) {
    top: 0;
    right: 180px;
    animation-delay: .6s;
    animation-duration: 1.5s;
}

/* Flowing stars */
.flowing {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
}
.flowing span {
    position: relative;
    width: 16.67%;
    height: 0;
    padding-top: 16.67%;
    background: #4fc3dc;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3cd44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc; 
    animation: flowing 15s linear infinite;
    animation-duration: calc(125s / var(--i));
    opacity: .7;
}
.flowing span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}
@keyframes flowing {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}