.theme_box {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: calc(50vw - 165px);
    left: calc(50vw - 165px);
    width: 330px;
    height: 570px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    background-color: #d3d3d3;
    padding: 0px 10px 0px 10px;
}
.theme__option .theme-data {
    display: none;
}
.theme__option .theme-data.show {
    display: flex;
}
.select-layer {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-layer.select {
    border: 3px solid #0171e3;
}
.theme__option .selectBtn {
    display: none;
}
.theme__option {
    flex-shrink: 0;
    background: #fff;
    width: 100%;
    aspect-ratio: 9/16;
    margin: 10px 0px 10px 0px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}
.theme__option img {
    aspect-ratio: 9/16;
    width: 100%;
    height: 100%;
}
.selectBtnConfirm {
    display: none;
    border: 4px solid green;
    border-radius: 50%;
}
.selectBtnConfirm > i {
    font-size: 60px;
    color: green;
}
.apply, .back {
    position: absolute;
    border-radius: 22px;
    padding: 15px 20px 15px 20px;
    border: none;
    margin-bottom: 30px;
    color: #000;
    top: calc(50vw - 165px + 580px);
    cursor: pointer;
}
.apply {
    background-color: #64c874;
    right: calc(50vw - 165px);
}
.apply.disabled {
    display: none;
}
.back {
    left: calc(50vw - 165px);
    background-color: #d3d3d3;
}

/* Loader */
.loader {
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    border-radius: 50%;
    background: linear-gradient(45deg, transparent,
transparent 40%, #e5f403);
    width: 50px;
    height: 50px;
    animation: loader 1s linear infinite;
}
@keyframes loader {
    0% {
        transform: rotate(0);
        filter: hue-rotate(0);
    }
    100% {
        transform: rotate(1turn);
        filter: hue-rotate(360deg);
    }
}
.loader:before {
    content: '';
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    border-radius: 50%;
}
.loader:after {
    content: '';
    position: absolute;
    z-index: 1;
    background: linear-gradient(45deg, transparent,
transparent 40%, #e5f403);
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 50%;
    filter: blur(30px);
}

.theme-data {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.textSlider__left, .textSlider__right {
    height: 12%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    padding: 10px 90px 10px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}
.theme-data .slider {
    width: 100%;
    height: 76%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme-data .slider img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.theme-data .slider video {
    width: 100%;
}
.theme-data .textSlider__left img, .theme-data .textSlider__left img {
    height: 100%;
    width: 100%;
}

/* Theme modify */
.wave-area {
    position: absolute;
    bottom: 10%;
    width: 100%;
}
.theme__option--3 .theme-data .textSlider__left {
    opacity: .8;
    position: absolute;
    bottom: 0;
    overflow: initial;
}
.theme__option--3 .theme-data .slider {
    height: 88%;
}
.theme__option--3 .wave-area {
    top: -70%;
}
.parallax > use {
    animation: move 8s linear infinite forwards;
    fill: var(--main-color);
}
.parallax > use:nth-child(2) {
    animation-delay: -7s;
    animation-duration: 7s;
    opacity: .5;
}
.parallax > use:nth-child(3) {
    animation-delay: -5s;
    animation-duration: 9s;
    opacity: .2;
}
.parallax > use:nth-child(4) {
    animation-delay: -2s;
    animation-duration: 4s;
    opacity: .7;
}
@keyframes move {
    0% {
        transform: translateX(-90px);
    }
    100% {
        transform: translateX(85px);
    }
}
.theme__option--4 .theme-data .textSlider__left, .theme__option--4 .theme-data .textSlider__right {
    display: none;
}
.theme__option--4 .theme-data .slider {
    height: 100%;
}
@media only screen and (min-width: 710px) {
    body {
        overflow: hidden;
    }
    .login_parent {
       display: block;
    }
    .login_parent > img {
        width: 100%;
        height: 100%;
    }
    .theme_box {
        top: calc(50vh - 285px);
    }
    .apply, .back {
        top: calc(50vh - 285px + 570px + 15px);
    }
 }