#detail {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}
.star:nth-child(1) {
    animation: one 5s cubic-bezier(0.47, 0.17, 0.53, 0.81) infinite forwards;
}
.star:nth-child(2) {
    animation: two 6s cubic-bezier(0.47, 0.17, 0.53, 0.81) infinite forwards;
}
.star:nth-child(3) {
    animation: three 7s cubic-bezier(0.47, 0.17, 0.53, 0.81) infinite forwards;
}
.star:nth-child(4) {
    animation: four 8s cubic-bezier(0.47, 0.17, 0.53, 0.81) infinite forwards;
}
@keyframes one {
    0% {
        transform: translate(-100px, 0px) rotate(90deg);
    }
    50% {
        transform: translate(40vw, 100px) rotate(90deg);
        opacity: .8;
    }
    100% {
        transform: translate(100vw, 0px) rotate(90deg);
        opacity: .5;
    }
}
@keyframes two {
    0% {
        transform: translate(-6vw, 0px) rotate(90deg);
    }
    50% {
        transform: translate(45vw, 100px) rotate(90deg);
    }
    100% {
        transform: translate(100vw, 0px) rotate(90deg);
    }
}
@keyframes three {
    0% {
        transform: translate(-10vw, 0px) rotate(90deg);
    }
    50% {
        transform: translate(48vw, -200px) rotate(90deg);
        opacity: .8;
    }
    100% {
        transform: translate(100vw, 0px) rotate(90deg);
        opacity: .5;
    }
}
@keyframes four {
    0% {
        transform: translate(-8vw, 0px) rotate(90deg);
    }
    50% {
        transform: translate(42vw, 300px) rotate(90deg);
    }
    100% {
        transform: translate(100vw, 0px) rotate(90deg);
    }
}