<IfModule LiteSpeed>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} ^GET|HEAD$
    RewriteCond %{HTTP_HOST} ^ tv3test.allinclicks.net [NC]
    RewriteCond %{REQUEST_URI} !login|admin|register|post|cron
    RewriteCond %{QUERY_STRING} !nocache
    RewriteRule .* - [E=Cache-Control:max-age=300]
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/css text/javascript application/javascript
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/javascript "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresDefault "access plus 1 week"
</IfModule>